<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./assets/css/estilos.css">

</head>

<body>
  <script type="text/x-template" id="cupons">
    <div class='container'>
      <div class='titulo'>
        <span class='texto'>2 BONUSES FOR YOU TO USE NOW</span>
      </div>
      <div class='contenedor'>
        <div v-for='cup in cupones' class='main'>
          <div class='row'>
            <div class='col-md-10 col-xs-8 description'>
              {{cup.description.toUpperCase()}}
            </div>
            <div class='col-md-2 col-xs-2 info cup'>
              <span
                class="icon"
                :class="{'lock': cup.icon=='lock', 'tick': cup.icon=='tick', 'time': cup.icon=='time' }">
              </span>
            </div>
            <div class='btn-app'>
              <button class='btn btn-cup col-md-offset-1 col-md-10'>{{cup.textBoton}}</button>
            </div>
          </div>
        </div>
        <div class='titulo'>
          <span class='texto'>ALSO PICK 1 OF 2 DEPOSIT OFFERS</span>
        </div>
        <div class='contenedor'>
          <div v-for='dep in depositos'
            class='main'
            :class="{'inhabilitado': dep.icon=='lock'}">
            <div class='row'>
              <div class='col-md-10 description'>
                {{dep.description.toUpperCase()}}
              </div>
              <div class='col-md-2 info dep'>
                <span class="icon"
                  :class="{'lock': dep.icon=='lock', 'tick': dep.icon=='tick', 'time': dep.icon=='time' }">
                </span>
              </div>
            </div>
            <div class='btn-app'>
              <button class='btn btn-dep col-md-offset-1 col-md-10'>{{dep.textBoton}}</button>
            </div>
        </div>
      </div>
  </script>

  <div class="bienvenida">
    <span class="usuario">
      Welcome <strong>Jess2223</strong>, thanks for joining.
    </span>
  </div>
  <div id="components-demo">
    <button-counter></button-counter>
  </div>
</body>
<script src="./assets/script/script.js"></script>

</html>