body {
  background: #937FE1;
}

@font-face {
  body {
    font-family: "TodaySHOP-Bold";
    src: url(https://github.com/jjconti/novela-workflow/blob/master/pdflab/taller%20literario/TodaySHOP%20familia/TodaySHOP-Bold.otf) format("truetype");
  }
}

.bienvenida {
  background: #E7E2FE;
  font-family: TodaySHOP-Medium;
  padding: 10px;
}

.bienvenida .usuario {
  font-size: 16px;
  color: #521DA9;
  letter-spacing: 0.44px;
  line-height: 24px;
}

.btn-app {
  position: absolute;
  top: 70%;
  z-index: 20;
  padding-left: 5%;
  width: 70%;
  margin-left: 10%;
}

@media screen and (max-width: 420px) {
  .btn-app {
    width: 55%;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .btn-app {
    width: 55%;
  }
}

.btn-cup {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6BCA), color-stop(42%, #FF78CF), to(#FF00A8));
  background-image: linear-gradient(-180deg, #FF6BCA 0%, #FF78CF 42%, #FF00A8 100%);
  -webkit-box-shadow: 0px 1px 1px 1px #AC0C75;
          box-shadow: 0px 1px 1px 1px #AC0C75;
  border-radius: 2.59px;
  color: #FFF;
  font-weight: bold;
}

.btn-cup:hover {
  color: #000000;
}

.btn-dep {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#86BA2B), to(#2A740D));
  background-image: linear-gradient(-180deg, #86BA2B 0%, #2A740D 100%);
  -webkit-box-shadow: 0px 1px 1px 1px #1C4F06;
          box-shadow: 0px 1px 1px 1px #1C4F06;
  border-radius: 2.59px;
  color: #FFF;
  font-weight: bold;
}

.btn-dep:hover {
  color: #000000;
}

.description {
  font-family: TodaySHOP-Bold;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0.64px;
  line-height: 29px;
  padding: 7% 7%;
}

@media screen and (max-width: 420px) {
  .description {
    width: 75%;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .description {
    width: 75%;
  }
}

.contenedor {
  width: 100%;
}

.contenedor > .inhabilitado {
  opacity: 0.4;
  pointer-events: none;
}

.main {
  float: left;
  width: 42%;
  margin: 10px 4%;
  border-radius: 10px;
  background: #FFF;
  height: 15em;
  position: relative;
}

@media screen and (max-width: 420px) {
  .main {
    width: 90%;
    margin: 10px 5%;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .main {
    width: 42%;
  }
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2%;
}

.titulo .texto {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  letter-spacing: 0.35px;
  line-height: 24px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 420px) {
  .titulo .texto {
    font-size: 19px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .titulo .texto {
    font-size: 19px;
  }
}

.info {
  height: 100%;
  float: right;
  z-index: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.info .icon {
  position: absolute;
  top: 40%;
}

.info .tick {
  content: url("../img/tick.svg");
}

.info .time {
  content: url("../img/clock.png");
}

.info .lock {
  content: url("../img/lock.svg");
}

@media screen and (max-width: 420px) {
  .info {
    position: absolute;
    width: 25%;
    left: 75%;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .info {
    position: absolute;
    width: 25%;
    left: 75%;
  }
}

.cup {
  background: #E9F2DF;
}

.dep {
  background: #FFECD6;
}
/*# sourceMappingURL=estilos.css.map */