// vars
$fondo-body: #937FE1;
$fondo-tarjeta: cyan;
$fondo-info-cup: #E9F2DF;
$fondo-info-dep: #FFECD6;
$fondo-top: #E7E2FE;

$xs: 420px;
$sm: 767px;

$letra-sm: 19px;
$letra-md: 24px;

$color-blanco: #FFF;
$texto-usuario: #521DA9;
$gradiente-btn: linear-gradient(to bottom, #FF6BCA 0%, #FF78CF 100%, #FF00A8 100%);

$descripcion: 2em;
$borde: 10px;
$url-img: '../img/';

$fullpage: 100%;
$width-25: 25%;
$width-55: 55%;
$width-70: 70%;
$width-75: 75%;
$width-90: 90%;

// Styles
body {
  background: $fondo-body;
  @font-face {
    font-family: "TodaySHOP-Bold";
    src: url(https://github.com/jjconti/novela-workflow/blob/master/pdflab/taller%20literario/TodaySHOP%20familia/TodaySHOP-Bold.otf) format("truetype");
  }
}

.bienvenida {
  background: $fondo-top;
  font-family: TodaySHOP-Medium;
  padding: 10px;
  
  .usuario {
    font-size: 16px;
    color: $texto-usuario;
    letter-spacing: 0.44px;
    line-height: $letra-md;
  }
}

.btn-app {
  position: absolute; 
  top: $width-70;
  z-index: 20;
  padding-left: 5%;
  width: $width-70;
  margin-left: 10%;

  @media screen and (max-width: $xs) {
    width: $width-55;
  }
  
  @media screen and (min-width: $xs) and (max-width: $sm) {
    width: $width-55;
  }
}

.btn-cup {
  background-image: linear-gradient(-180deg, #FF6BCA 0%, #FF78CF 42%, #FF00A8 100%);
  box-shadow: 0px 1px 1px 1px #AC0C75;
  border-radius: 2.59px;
  color: $color-blanco;
  font-weight: bold;

  &:hover {
    color: #000000;
  }
}

.btn-dep {
  background-image: linear-gradient(-180deg, #86BA2B 0%, #2A740D 100%);
  box-shadow: 0px 1px 1px 1px #1C4F06;
  border-radius: 2.59px;
  color: $color-blanco;
  font-weight: bold;

  &:hover {
    color: #000000;
  }
}

.description {
  font-family: TodaySHOP-Bold;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0.64px;
  line-height: 29px;
  padding: 7% 7%;

  @media screen and (max-width: $xs) {
    width: $width-75;
  }

  @media screen and (min-width: $xs) and (max-width: $sm) {
    width: $width-75;
  }
}

.contenedor {
  width: $fullpage;

  > .inhabilitado {
    opacity: 0.4;
    pointer-events: none;
  }
}

.main {
  float: left;
  width: 42%;
  margin: 10px 4%;
  border-radius: $borde;
  background: $color-blanco;
  height: 15em;
  position: relative;

  @media screen and (max-width: $xs) {
    width: $width-90;
    margin: 10px 5%;
  }
  
  @media screen and (min-width: $xs) and (max-width: $sm) {
    width: 42%;
  }
}

.titulo {
  display: flex;
  width: $fullpage;
  padding: 2%;

  .texto {
    width: $fullpage;
    text-align: center;
    font-size: $letra-md;
    color: $color-blanco;
    letter-spacing: 0.35px;
    line-height: $letra-md;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.50);
    @media screen and (max-width: $xs) {
      font-size: $letra-sm;
    }
    @media screen and (min-width: $xs) and (max-width: $sm) {
      font-size: $letra-sm;
    }
  }
}

.info {
  height: $fullpage;
  float: right;
  z-index: 0;
  border-bottom-right-radius: $borde;
  border-top-right-radius: $borde;
  .icon {
    position: absolute;
    top: 40%;
  }
  .tick {
    content: url($url-img+'tick.svg');
  }

  .time {
      content: url($url-img+'clock.png');
  }

  .lock {
      content: url($url-img+'lock.svg');
  }

  @media screen and (max-width: $xs) {
    position: absolute;
    width: $width-25;
    left: $width-75;
  }

  @media screen and (min-width: $xs) and (max-width: $sm) {
    position: absolute;
    width: $width-25;
    left: $width-75;
  }
}

.cup {
  background: $fondo-info-cup;
}

.dep {
  background: $fondo-info-dep;
}